html,body{
    height: 100%;
}
.letter-bg{
    padding-bottom: .8rem;
    background: url("../img/share2-bg@2x.png") no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
}
.bg-fx{
    width: 70%;
    height: 70%;
    background: url("../img/Presentation-img1.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    opacity: .3;
}
.letter-bgn{
    display: flex;
    flex-direction: row;
}
.letter-L{
    position: relative;
    width: 75%;
    max-height: 25rem;
    padding: 1.3rem .6rem .6rem 0;
    box-sizing: content-box;
    z-index: 1;
}
.letter-jd {
    width: 100%;
    font-size: .32rem;
    z-index: 1;
    writing-mode: tb-rl;

}
@media (max-width: 768px) {
    .letter-jd {
        letter-spacing: .08rem;
    }
}
@media (max-width: 420px) {
    .letter-jd {
        letter-spacing: .2rem;
    }
}
.inscribeBox{
    position: absolute;
    bottom:.15rem;
    left: .4rem;
    z-index: 33;
}
.inscribeBox img{
    width: 2rem;
    height: 2rem;
    z-index: 33;
}
.letter-R{
    display: flex;
    flex-direction: column;
    padding-top: 1.3rem;
    align-items: center;
}
.letter-R-t img{
    width: .65rem;
    height: 1.61rem;
}
.letter-R-z{
    margin-top: .42rem;
    width: .79rem;
    height: 1.21rem;
    background: url("../img/share-img@2x.png") no-repeat;
    background-size: .79rem 1.21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letter-R-z span{
    font-size: .24rem;
    color: #fffcf3;
}
.letter-R-b{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}
.letter-R-b img{
    width: .88rem;
    height: .88rem;
}
.letter-R-b span{
    font-size: .18rem;
    text-align: center;
}
.inscribeBox h3{
    text-align: center;
    font-size: .24rem;
}