.contrast-bg{
    padding-bottom: .8rem;
    background: url("../img/background2.png") no-repeat;
    background-size: 100% 6.05rem;
    background-position: bottom;
}
.contrast-head{
    width: 100%;
    height: 3rem;
    background: url("../img/Contrast-bg.png") no-repeat;
    background-size: 100% 3rem;
    display: flex;
    flex-direction: row;
}
.contrast-L,.contrast-R{
    box-sizing: border-box;
    width:33.33%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contrast-L-img,.contrast-R-img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.contrast-z-img{
    width: 1.48rem;
    height: 2.1rem;
    /*margin-left: .48rem;*/
    /*margin-top: .36rem;*/
}
.contrast-z{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.contrast-L span{
    width: .61rem;
    height: .26rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: .26rem;
    color: #333333;
    margin-top: .2rem;
}
.contrast-R span{
    width: .61rem;
    height: .26rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: .26rem;
    color: #333333;
    margin-top: .2rem;
}
.resultBox{
    width: 6.33rem;
    margin: 0 auto;
}
.result-Top{
    display: block;
    width: 2.2rem;
    height: .58rem;
    margin: .8rem auto .5rem;
}
.progressBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.progress-T{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progress-T-D{
    position: relative;
    width: 4.08rem;
    height: .12rem;
    background: #ccc;
    border-radius: 5px;
    margin: 0 .4rem 0;
}
.progress-T-B{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 3.6rem;
    height: .12rem;
    background: red;
    border-radius: 5px;

}
.progress-matching{
    font-size: .26rem;
    color: #333333;
}
.progress-number{
    font-size: .26rem;
    color: #4e4e4e;
}
.chart{
    margin: .5rem auto 0;
}
.trait{
    display: block;
    margin: .8rem auto .5rem;
    width: 2.2rem;
    height: .5rem;
}
.natureBox{
  overflow: hidden;
}
.nature-BG{
    background: url("../img/Generatingpage-img-bg.png") no-repeat;
    background-size: 2.7rem 2.7rem;
    border-radius: 5px;
}
.nature-L{
    float: left;
    margin-left: .3rem;
}
.nature-L-print{
    width: 2.3rem;
    height: 2.3rem;
}
.nature-R{
    float: right;
    margin-right: .3rem;
}

.nature-L-seal{
    text-align: center;
    margin-top: .3rem;
    font-size: .24rem;
    color: #333333;
}
.referralBox{
    margin-top: .5rem;
    overflow: hidden;
}

.referral-L{
    width: 45%;
    float: left;

}
.referral-R{
    float: right;
    width:45%;
}
.referral-L-cont{
    font-size: .28rem;
    color:#666666;
}
.referral-R-cont{
    font-size: .28rem;
    color:#666666;
}
.referral-name{
    color: #b60000;
    font-size: .28rem;
    font-weight: bold;
}
.referral-L-cont:before{
    display: inline-block;
    content: "";
    background: url("../img/qq.png") no-repeat;
    background-size: .28rem .28rem;
    width: .28rem;
    height: .28rem;
    vertical-align: middle;
    margin: 0 .05rem 0;
}
.referral-R-cont:before{
    display: inline-block;
    content: "";
    background: url("../img/xx.png") no-repeat;
    background-size: .35rem .35rem;
    width: .35rem;
    height: .35rem;
    vertical-align: middle;
    margin: 0 .1rem 0;
}
.summary{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}
.summary-title{
    font-size: .3rem;
    color: #b60000;
}
.summary-content{
    font-size: .24rem;
    color: #666666;
}
.clearBox{
    margin-top: .5rem;
    width: 100%;
    height: .68rem;
    line-height: .68rem;
    background: #b70002;
    text-align: center;
    border-radius: 5px;
    font-size: .3rem;
    color: #fff;
}
.friendBox{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.friend-L{
    width: 2.93rem;
    height: .58rem;
    line-height: .58rem;
    border-radius: 5px;
    border: 1px solid #b70002;
    text-align: center;
    color: #b60000;
    font-size: .26rem;
}
.friend-R{
    width: 2.93rem;
    height: .58rem;
    line-height: .58rem;
    border-radius: 5px;
    background: #b70002;
    color: #fff;
    font-size: .26rem;
    text-align: center;
}
.codeBox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 4rem;
    border: 2px dotted  #b70002;
    justify-content: center;
    align-items: center;
    padding-bottom: .3rem;
}
.codeBox img{
    margin-top: .3rem;
    margin-bottom: .2rem;
    width: 1.5rem;
    height: 1.5rem;
}
.codeBox span{
    color: #333333;
    font-size: .22rem;
}