
.home{
    padding-bottom: .8rem;
    background: url("../img/background2.png") no-repeat;
    background-size: 100% 6.05rem;
    background-position: bottom;

}
.contentBox{
    width: 5.75rem;
    margin: 0 auto;
}
.C8-logo{
    width: 1.63rem;
    height: .55rem;
    margin-left: .3rem;
    margin-top: .5rem;
}
.home-content{
    width: 5.75rem;
    margin: .8rem auto;
}
.home-Title{
    width: 5.35rem;
    height: .4rem;
    margin-left: .2rem;
}
.home-forewordBox{
    box-sizing: border-box;
    width: 5.71rem;

    border-radius:5px;
    background: #fff;
    padding: .24rem .2rem;


    box-shadow:0rem .04rem .1rem #EEE9E9;
}
.foreword{
 line-height: 20px;
}
.addedBox{
    text-align: center;
    margin-top: .5rem;
    color: red;
    margin-bottom: .8rem;
}
.added-left,.added-right{
    display:inline-block;
    width:.6rem;
    vertical-align: middle;
    border-top: 1px solid red;
}
.added-left{
    margin-right:.2rem;
}
.added-right{
    margin-left: .2rem;
}
.messageBox{
    width: 5.2rem;

    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;

    border-radius: 5px;
    box-shadow:0rem .04rem .1rem #EEE9E9;
}
.message-title{
    margin: .5rem auto;
    text-align: center;
}
.message-content{
    width: 4.55rem;
    margin: 0 auto;
}
.inp-box{
    margin-top: .3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: .3rem;
}
.message-import{
    width: 100%;
    height: .47rem;
    border: none;
    border-radius: 8px;
    text-align: center;
}
.choice{
    margin: .5rem auto;
}
.choice-L{
    margin-left: .6rem;
}
.choice-R{
    margin-left: 2.3rem;
}
.home-btn{
    margin-top: .8rem;
    margin-bottom: .5rem;
    width: 100%;
    height: .62rem;
    border: 1px solid red;
    border-radius: 5px;
    background: none;
}
#demo1{
    width: 100%;
    border: none;
    height: .47rem;
    border-radius: 8px;
    /*margin-left: .3rem;*/
}